{% extends 'base.html.twig' %}

{% block title %}
    Hello TeamController!
            
        
    
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <section id="services" class="features_area pt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center pb-25">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                Les équipes
                                                                                                        
                                                                                
                                                            
                            </h4>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                                Voici la liste des équipes
                                                                                                                                    que vous pouvez intégrer.
                                                                                                        
                                                                                
                                                            
                            </p>
                        </div>
                    <!-- section title -->
                    </div>
                </div>
                <!-- row -->
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                            <img src="<?=$team['logo'] ?>"></img>
                            <br>
                                <a href="#">
                                    <h4 class="features_title">
                                        nom de team
                                                                                                                                        
                                                                                                        
                                                                            
                                    </h4>
                                </a>
                                <p>
                                    slogan
                                                                                                                            
                                                                                                                        
                                                                                            
                                                                    
                                </p>
                            </div>
                        <!-- single features -->
                        </div>

                    </div>
                <!-- row -->
                </div>
            <!-- container -->
            </section>

        </div>
    {% endblock %}
    