{% extends 'base.html.twig' %}

{% block title %}
    Hello ConnectController!
    
{% endblock %}

{% block content %}
    <div class="container mt-5">

        <form action="http://localhost:2000/bwb-by-planning-in-luv/tools/auth/verification.php" method="post" class="container w-25">
            <h2 class="mt-3">
                Connexion
            </h2>

            <div class="mb-3 mt-5">
                <label for="username" class="form-label">
                    Votre Nom d'utilisateur
                </label>
                <input type="text" class="form-control" name="username" id="username"></div>
                <div class="mb-3">
                    <label for="password" class="form-label">
                        Votre mot de passe
                    </label>
                    <input type="password" class="form-control" name="password" id="password"></div>

                    <button type="submit" class="btn btn-outline-dark">
                        Envoyer
                    </button>
                </form>
            </div>
        {% endblock %}
        