<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>
                {% block title %}{% endblock %}
            </title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="./index.php">
                    Planning in luv         
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse bg-dark justify-content-end" id="navbarCollapse">
                    <ul class="navbar-nav mb-2 mb-md-0 mr-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./index.php">
                                Accueil                         
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user-list">
                                Utilisateurs                          
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/team-list">
                                Équipes                             
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/project-list">
                                Projets                          
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signin" role="button" aria-expanded="false">
                                S'inscrire                  
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login" role="button" aria-expanded="false">
                                Se connecter                          
                            </a>
                        </li>
                    </li>
                </ul>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html></nav><div id="content">
{% block content %}{% endblock %}</div><div id="footer">
{% block footer %}
    <footer class="footer_area mt-5">
        <div class="container">
            <div class="footer_wrapper text-center d-lg-flex align-items-center justify-content-between">
                <p class="credit">
                    Designed and Developed by 
                    <a href="https://www.ybeneito.fr" rel="nofollow">
                        Beneito Yohan BwB              
                    </a>
                </p>
                <div class="footer_social pt-15">
                    <ul>
                        <li><a href="https://gitlab.com/YBeneito"><i class="lni lni-git"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/yohan-beneito-953707200/"><i class="lni lni-linkedin-original"></i></a></li>
                    </ul>
                </div>
            <!-- footer social -->
            </div>
        <!-- footer wrapper -->
        </div>
    <!-- container -->
    </footer>
{% endblock %}</div></body></html>