{% extends "base.html.twig" %}
{% block title %}
    Ce projet
{% endblock %}

{% block content %}
        <section id="services" class="features_area pt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center pb-25">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                nom du projet                            
                            </h4>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                                description                            
                            </p>
                            <button type="button" class="btn btn-outline-primary mt-3">
                                S'inscrire                            
                            </button>
                        </div>
                    <!-- section title -->
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="row justify-content-center team_active">
                        <div class="col-lg-4 col-md-8 col-sm-10">
                            <div class="single_features mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                <img src="<?= $project[0]['logo']?>"></img>
                                <h4 class="mt-2">
                                    nom du projet                      
                                </h4>
                                <h5 class="mt-2">
                                    <a class="text-primary" href="/team-detail">
                                        Equipe                             
                                    </a>
                                </h5>
                                <p>
                                    description                         
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8 col-sm-10 mt-5">
                            <h5>
                                Les tickets                           
                            </h5>
                            <div class="ticket pt-5">
                                <a href="">
                                    tag de ticket                    
                                </a>
                                <br>
                                    <p>
                                        Status:                                     
                                    </p>
                                    <p style='color: red'>
                                        Backlog                                    
                                    </p>                            
                                    <p style='color: orange'>
                                        Todo                                    
                                    </p>                           
                                    <p style='color: blue'>
                                        Doing                                    
                                    </p>                                                                        
                                    <p style='color: green'>
                                        Done                                    
                                    </p>                     
                                    <div class="btn-container d-flex">
                                        <button type="button" class="btn btn-outline-primary">
                                            Prendre                                
                                        </button>
                                        <button type="button" class="btn btn-outline-danger">
                                            Modifier                                                                                    
                                        </button>
                                        <button type="button" class="btn btn-outline-warning">
                                            Supprimer                                   
                                        </button>
                                    </div>
                                    <div class="btn-container d-flex flex-column mt-3">
                                        <button type="button" class="btn btn-outline-success">
                                            Ajouter un ticket                                   
                                        </button>
                                    </div>
                                </div>
                            <!-- Infos -->
                            </div>
                        </div>
                    </div>
                <!-- row -->
                </div>
            <!-- container -->
            </section>

    {% endblock %}
    