{% extends 'base.html.twig' %}

{% block title %}
    Les projets
{% endblock %}

{% block content %}
        <section id="services" class="features_area pt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center pb-25">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                Les projets                   
                            </h4>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                                Voici la liste des projets auxquels vous pouvez participer.                           
                            </p>
                        </div>
                    <!-- section title -->
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    {% for project in projects %}
                    <div class="col-lg-4 col-md-8 col-sm-10 mt-3">              
                    <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">              
                    <img src="{{project.logo}}" alt="userpic">
                            <div class="team_content">
                                <h4 class="team_name">
                                    <a href="/project-detail/{{ project.id }}">
                                        {{ project.name }}                                         
                                    </a>
                                </h4>
                                <p>
                                    {{ project.description }}                                     
                                </p>
                            </div>
                        </div>
                    <!-- single team -->
                    </div>
                {% endfor %}
                </div>
                  
                   
                <!-- row -->
                </div>
            <!-- container -->
            </section>
    {% endblock %}
    